
html, body{
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
}

/* Colorres, estilos generales*/
.arce{
    color: #c7b299;
}

.verde{
    color: rgb(140, 198, 63);
    
}

.shadowArce {
    text-shadow: 1px 1px 1px #8f714c;
}

button:hover{
    color: #c7b299;
}

button{
    text-shadow: 1px 1px 1px #8f714c;
}
*{
    font-family: 'Orbitron', sans-serif;
}

/* Footer con botón editar, en todas las páginas*/
  footer{
    background-color: transparent; 
}

/* Portada*/
#section1{
    background-image: url("fotos y logos/conway.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */    
    min-height: 100%;   
}

/*Iconos de redes sociales */
.hoverVerde:hover {
    font-size:30px;
    color: #8cc63f;
}
i{
    color: white;
}

/* Seciión2 Sobre mí*/
#section2{
    margin: 0;
    padding-top: 20%;
    background-color: #e5e1e1;
    color: black;  
      
}

.card{
    background-color: #e5e1e1;  
}


.ocupa-60{
    width: 70vw;
    padding-top: 0px;
    margin-top: 0px;

}

.card-title{
    font-size: 1.2rem;
}

.carousel-caption{
    background-color: black;
    opacity: 0.7;
}
#section3{

    color: black;  
      
}

.chico{
    font-size: 0.8rem;
}

.muyChico{
    font-size: 0.6rem;
}

#section5{
    background-color: #8f714c;
    color: black;
}
.sinDecoracion{
    text-decoration: none;
}
.iconoContacto{
    font-size: 2rem;
    color:black;
}
.iconoContacto:hover{
    text-shadow: 1px 1px 1px #201f1d
}

.borde{
    border-style: solid;
    border-color: #8f714c;
    border-width: 0.1rem;
    background-color: #201f1d;
    opacity: 0.7;
}

.derechos{
  
    color: #8cc63f;
}