
html, body{
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
}

/* Colores, estilos generales*/
.arce{
    color: #c7b299;
}

.verde{
    color: rgb(140, 198, 63);
    
}

.shadowArce {
    text-shadow: 1px 1px 1px #8f714c;
}

button:hover{
    color: #c7b299;
}

button{
    text-shadow: 1px 1px 1px #8f714c;
}
*{
    font-family: 'Orbitron', sans-serif;
}

/* Footer con botón editar, en todas las páginas*/
  footer{
    background-color: transparent; 
}
.derechos{
  
    color: #8cc63f;
}
.borde{
    border-style: solid;
    border-color: #8f714c;
    border-width: 0.1rem;
    background-color: #201f1d;
    opacity: 0.7;
}

.borde:active{
    border: solid;
    border-color: #8cc63f;
}
.borde:visited{
    border: none;
    text-decoration: none;
    box-shadow: 0;
}

/* Portada*/
#section1{
    background-image: url("fotos y logos/conway.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */    
    min-height: 100%;
    padding:100px 20px;   
}
#logo{
    width:30px;
}

/*Iconos de redes sociales de  la portada*/
.hoverVerde:hover {
    font-size:30px;
    color: #8cc63f;
}
i{
    color: white;
}

/* Seciión2 Sobre mí*/
#section2{
    margin: 0;
    
    background-color: #e5e1e1;
    color: black; 
    padding: 40px 0px 0px 20px; 
      
}

.card{
    background-color: #e5e1e1;  
    width: 95%;
}


.ocupa-60{
    width: 70vw;
    padding-top: 0px;
    margin-top: 0px;

}

.card-title{
    font-size: 1.2rem;
}

.card-text{
    font-size: 0.9rem;
}

.chico{
    font-size: 0.8rem;
}

.muyChico{
    font-size: 0.6rem;
}

.logoEducacion{
    width: 3rem;
}

.divImagen{
    margin: 0px; 
    box-sizing: content-box; 
    padding: 0px;
}

/* portfolio */
.carousel-caption{
    background-color: black;
    opacity: 0.7;
}

/*No sé porqué el código de la sección 3 no funciona, lo tuve que poner en el html*/
#section3{
    padding:60px 0px 0px 0px;
    color: black;  
      
}

.contenedorCarrousel{
    width: 100%;
}

.carrousel{
    height: 80%;
}
.imagenCarrousel{
    width: 100%; 
    height: 80vh;
}

/* Conocimiento */
#section4{
    padding:100px 20px;
}

.progress{
    height: 1.5rem;
}

/* contacto */
#section5{
    background-color: #c7b299;
    color: black;
    padding:100px 20px;
}
.sinDecoracion{
    text-decoration: none;
}
.iconoContacto{
    font-size: 2rem;
    color:black;
}
.iconoContacto:hover{
    text-shadow: 1px 1px 1px #201f1d
}



